<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <listener>
    <listener-class>dao.InitialisationDaoFactory</listener-class>
  </listener>
  <servlet>
    <description>Inscription</description>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Connexion</description>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Deconnexion</description>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>servlet.DeconnexionServlet</servlet-class>
  </servlet>
    <servlet>
    <description>DeconnexionBouton</description>
    <servlet-name>DeconnexionBoutonServlet</servlet-name>
    <servlet-class>servlet.DeconnexionBoutonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionBoutonServlet</servlet-name>
    <url-pattern>/deconnexionbouton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Profil</description>
    <servlet-name>Profil</servlet-name>
    <servlet-class>servlet.ProfilServlet</servlet-class>
    <multipart-config>
      <location>C:\Users\npapo\git\Dao\Dao</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>filtre.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/profil</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>